@use '../helpers' as *;

.burger-button {
  @include square(rem(24));

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(4) rem(3);
  color: var(--color-dark);
  background-color: transparent;
  border: none;

  @include hover {
    color: var(--color-accent);
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.25em 0.05em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  &__line {
    width: 100%;
    height: rem(2);
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);

  }
}