@use '../helpers' as *;

.card-benefit {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  gap: rem(20);
  padding: rem(25);
  border: 1px solid #a8a8a8;
  border-radius: var(--border-radius);

  // .card-benefit__icon
  &__icon {
  }

  // .card-benefit__description
  &__description {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.4;
    color: var(--color-dark-alt);
    span {
      color: var(--color-accent);
    }
  }
}