@use 'helpers' as *;

body {
  @include fluid-text(20, 16);
  font-family: "Rubik", sans-serif;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: var(--color-grey);

  &.lock {
    overflow: hidden;
  }
}

section {
  padding-top: fluid(40, 30);
  padding-bottom: fluid(40, 30);
}
